<h1><%= @team.name %></h1>

<div class="court">
    <svg width="940" height="500">
        <!-- half court rectangle -->
        <rect width="100%" height="100%" fill="#eac696" stroke="#5d5c63" stroke-width="2" />
        
        <!-- 3-point arc -->
        <line x1="8%" y1="100%" x2="8%" y2="70%" stroke="#5d5c63" stroke-width="1" />
        <line x1="92%" y1="100%" x2="92%" y2="70%" stroke="#5d5c63" stroke-width="1" />
        <path d="M 75.2 350 Q 470 10 864.8 350" fill="none" stroke="#5d5c63" stroke-width="1.1" />
        
        <!-- shaded area -->
        <rect x="390" y="310" width="160" height="190" fill="#116cb6" stroke="#fff" stroke-width="1" />
        
        <!-- board and rim -->
        <line x1="440" y1="460" x2="500" y2="460" stroke="#b37336" stroke-width="1" />
        <circle cx="470" cy="444" r="15" fill="none" stroke="#b37336" stroke-width="1" />
        
        <!-- restricted area -->
        <path d="M 430 440 Q 470 370 510 440" fill="none" stroke="#fff" stroke-width="1" />
        
        <!-- free throw circle -->
        <path d="M 390 310 Q 470 420 550 310" fill="none" stroke="#fff" stroke-width="1" stroke-dasharray="10,10" />
        <path d="M 390 310 Q 470 190 550 310" fill="none" stroke="#fff" stroke-width="1" />
        
        <!-- Player 1 -->
        <circle cx="500" cy="150" r="20" fill="none" stroke="#5d5c63" stroke-width="1" />

        <!-- Player 2 -->
        <circle cx="150" cy="250" r="20" fill="none" stroke="#5d5c63" stroke-width="1" />

        <!-- Player 3 -->
        <circle cx="700" cy="440" r="20" fill="none" stroke="#5d5c63" stroke-width="1" />

        <!-- Player 4 -->
        <circle cx="360" cy="400" r="20" fill="none" stroke="#5d5c63" stroke-width="1" />

        <!-- Player 5 -->
        <circle cx="550" cy="350" r="20" fill="none" stroke="#5d5c63" stroke-width="1" />

    </svg>
</div>

<h3>Lineup:</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% @team.players.each do |player| %>
        <div class="col">
            <div class="card h-100">
                <img src="<%= player.image %>" class="card-img-top" alt="<%= player.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= player.name %></h5>
                    <ul class="card-text">
                        <li>Position: <%= player.position %></li>
                        <li>Height: <%= player.height %></li>
                        <li>Points (avg): <%= player.points %></li>
                    </ul>
                    
                    <a href="<%= player_path(player.id) %>" class="btn btn-outline-danger
                ">Profile</a>
                </div>
            </div>
        </div>
    <% end %>
    <div class="col">
        <div class="d-flex justify-content-between">
            <%= link_to "Edit Starting 5", edit_team_path(@team.id), class: 'btn btn-outline-success' %>
            <%= link_to "Delete Starting 5", @team, :method => 'delete', class: 'btn btn-outline-danger' %>
        </div>
    </div>
</div>