<h1>All Players</h1>

<% if @current_user.admin? %>
    <h3><%= link_to 'Create New Player', new_player_path %></h3>
<% end %>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% @players.each do |player| %>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img src="<%= player.image %>" class="card-img-top" alt="<%= player.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= player.name %></h5>
                    <ul class="card-text">
                        <li>Name: <%= player.name %></li>
                        <li>Position: <%= player.position %></li>
                        <li>Points (avg): <%= player.points %></li>
                    </ul>
                    
                    <a href="<%= player_path(player.id) %>" class="btn btn-warning">Profile</a>
                </div>
            </div>
        </div>
    <% end %>
</div>
